* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #581ae8;
  color: #f0f0f0;
  line-height: 1.6;
}
nav {
  background: rgba(248, 4, 4, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  border-bottom: 1px solid #07e449;
}
nav h1 {
  color: #00bcd4;
  font-size: 1.3rem;
  font-weight: 600;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li { margin-left: 25px; }
nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  transition: 0.3s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #00bcd4;
}
section {
  padding: 100px 10%;
  min-height: calc(100vh - 120px);
  text-align: center;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  font-size: 2.5rem;
  color: #00bcd4;
}
.hero p {
  max-width: 600px;
  margin: 20px 0;
  color: #ccc;
}
.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #00bcd4;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover { background-color: #0097a7; }

.skills-list {
   display: flex;
  flex-direction: column; /* keeps items vertical */
  align-items: center;    /* centers them horizontally */
  gap: 15px;              /* adds space between items */
  margin-top: 30px;
 
  padding: 0;           
}
.skill {
  background: #1c1c1c;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00bcd4;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
.project {
  background: #f4e405;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #0b07ed;
  transition: 0.3s;
}
.project:hover {
  border-color: #00bcd4;
  transform: translateY(-5px);
}
.project h3 { color: #00bcd4; margin-bottom: 10px; }

.contact-info a { color: #00bcd4; text-decoration: none; }
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #1f1f1f;
  background: #09df09;
  color: #777;
}
